{
  "ios": {
    "Miraj": {
      "provisioningProfilePath": "ios/certs/Miraj-Development.mobileprovision",
      "distributionCertificate": {
        "path": "ios/certs/Apple-Development.p12",
        "password": "YOUR_CERT_PASSWORD"
      }
    },
    "Widget": {
      "provisioningProfilePath": "ios/certs/Widget-Development.mobileprovision",
      "distributionCertificate": {
        "path": "ios/certs/Apple-Development.p12",
        "password": "YOUR_CERT_PASSWORD"
      }
    },
    "ActivityMonitorExtension": {
      "provisioningProfilePath": "ios/certs/ActivityMonitorExtension-Development.mobileprovision",
      "distributionCertificate": {
        "path": "ios/certs/Apple-Development.p12",
        "password": "YOUR_CERT_PASSWORD"
      }
    },
    "ShieldConfiguration": {
      "provisioningProfilePath": "ios/certs/ShieldConfiguration-Development.mobileprovision",
      "distributionCertificate": {
        "path": "ios/certs/Apple-Development.p12",
        "password": "YOUR_CERT_PASSWORD"
      }
    },
    "ShieldAction": {
      "provisioningProfilePath": "ios/certs/ShieldAction-Development.mobileprovision",
      "distributionCertificate": {
        "path": "ios/certs/Apple-Development.p12",
        "password": "YOUR_CERT_PASSWORD"
      }
    }
  }
}
